
nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;  */
    right: 0;
    left: 0;
    background: black;
    box-shadow: 0 0 10px rgba(160, 152, 152, 0.5);
    z-index: 1000;
    margin-bottom: 10px;

  }
 button {
    padding: 6px 12px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  .nav-add button {
    background: #ED0000;
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    color:black;
  }