.container-filter{
    margin: 1rem;
}
.container-filter select {
    padding: 6px 12px;
    color: #333;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }
  .container-filter select:hover {
    outline: none;
    border: 1px solid #bbb;
  }
  .container-filter select option {
    background-color: #fff;
  }
 